.myNlink {
  font-size: 20px !important;
  display: block;
  margin-top: 25px;
}

.newsPageCnt {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;

}


.backButton {
  display: flex !important;
  position: absolute !important;
  z-index: 10 !important;
  left: 0 !important;
  top: 0 !important;
  background: dimgrey !important;
  margin: 20px !important;
}

.title {
  font-size: 30px !important;
}

@media (max-width: 720px) {
  .newsPageCnt {
    display: block !important;
  }

  .backButton {
    position: relative !important;
  }
}
